@charset "UTF-8";

.todoContainer {
  font-size: 20px;
}

.todoText {
  font-size: 18px;
}

.todoDescription {
  font-size: 16px;
}

/* タスク管理画面用CSS */
.todoList {
    width: 100vh;
    height: 100vh;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 15px;

}

/* メディアクエリCSS */
@media only screen and (max-width: 414px) {
  .todoText {
    font-size: 15px !important;
  }
    .todoDescription {
      font-size: 10px !important;
    }
}