@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Title.js 全体のh1*/
h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 195, 85) !important;
    padding: 2px;
    z-index: 11;
}

/* App.js */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: repeat;
}

.home-background {
    background: url("/public/background-image.jpg");
    background-size: cover;
    background-position: initial;
    background-color: rgba(255, 243, 227, 0.29);
    background-blend-mode: overlay;
    height: 280vh;
    width: 250vh;
    text-align: center;
    display: flex;
    border-radius: 20px;
    box-shadow: 4px 4px 20px 20px rgba(136, 134, 134, 0.25);
    margin: 0px;
    transition: all 0.5s ease;
}

.footer {
    background-color: rgba(0, 195, 85, 0.226);
    color: #ffffff;
    text-align: center;
    position: fixed;
    bottom: 2.5px;
    width: 100%;
}

/* ハンバーガーメニュー文字サイズ */
.menuContainer {
    font-size: 16px;
}

/* Title.js */
h1 {
    font-weight: 200;
    font-size: 1.8em;
    color: rgb(5, 154, 5);
    margin: 0px 0 10px;
}

/* 全体のh2 */
h2 {
    margin: 10px 0 10px;
    font-size: 15px;
}

/* Form.js inputタグにCSS適用でダークモードに影響でるため文字色削除  */
input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px #f43071;
    width: 40%;
    padding-bottom: 4px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
    border-radius: 10px;
}

/* 検索ボタン用CSS */
.button1 {    
    /* border-bottom: 5px solid #812002; */
    font-size: 1.5rem;
    cursor: pointer;
    /* color: #fff; */
    position: absolute;
    width: 18%;
    /* background-color: #ff0000; */
    left: 70%;
    border-radius: 100vh;
    background-color: #b9f7af;
    padding: 8px;
    border-bottom: 4.5px solid #5f775b;
}

/* 天気検索ボタンCSS */
/* .button1:hover { */
        /* margin-top: 15px; */
        /* border-bottom: 1px solid #ff840a; */
        /* opacity: 1; */
/* } */

/* Results.js */
.results-city {
    font-size: 2rem;
    color: #bd1414;
}

/* Results.js */
.results-country {
    font-size: 2rem;
    color: #bd1414;
}

/* Results.js */
.results-temp {
    font-size: 2rem;
    margin: 2px 2px;
    color: #b70e0e;
    position: relative;
    
}

/* Results.js */
.results-temp > span {
    font-size: 1.5rem;
    color: #b70e0e;
}

/* Results.js アニメーション追加 CSSのスマホで崩れを修正する*/
.results-condition {
    position: static;
    display: block;
    font-size: 2rem;
    cursor: pointer;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    border-radius: 2px; 
}

/* Results.js  */
.results-condition:hover{
    box-shadow: 0 16px 20px -8px rgba(108, 74, 74, 0.4);
}

/* Loading.js */
.loading {
    border: 4px solid #f15186;
    border-top: 4px solid #2f0e91;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* DigitalDateTime.js */
.dit {
    height: 20px;
    font-size: 20px;
    font-family: 'Noto Sans JP';
    text-align: center;
}

.homeBody {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #030303;
    font-display: auto;
}

.App {
    width: 100%;
    border: 0;
    padding: 0px 0px;
    margin: 0px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #d451f1;
    color: #e9a915fd;
    
}

/* タスク管理画面用CSS */
.todoList {
    width: 100vh;
    height: 100vh;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 15px;

}

/* 遅延ページでローディングを表示させるCSS */
.pgLoading {
    font-size: 50px;
    color: #f40a0afd;
}

/* マテリアルアイコンリロードのCSS */
.reload {
    cursor: pointer;
    color: #f4480afd;
}

/* マテリアルアイコンのマウスホバー */
.reload:hover {
    background-color: #701919;
}

/* パスワード生成CSS、フォントバックグラウンド#e3bfbf; */
.password-background {
        background: url("/public/background-image2.jpg");
        background-size: cover;
        justify-content: center;
        border-radius: 5px;
        height: 190vh;
        width: 215vh;
        background-position: initial;
        text-align: center;
        font-size: 15px;
        font-weight: 30%;
}

/* パスワード表示の枠線 */
.pwMain {
    margin: 0 auto;
    padding: 0.2em;
    position: sticky;
    height: 200px;
    width: 200px;
    border: solid 2px #706c6c;
    /*線の種類・太さ・色*/
    background-color:#e6ffff;
}

/* パスワード生成ボタン */
.passwordButton:hover {
    cursor: pointer;
}

.passwordTitle {
    font-size: 30px;
}

/* カレンダーのタイトルフォントサイズ */
.calendarTitle {
    font-size: 20px;
    text-align: center;
}

.backgroundCalendar {
    width: 50%;
    height: 50%;
    position: relative;
}

/* Python自動化スクリプトDLPage */
.pythonDlPage {
    /* display: flex; */
    /* flex-direction: column; */
    text-align: center;
    background: url("/public/background-image3.jpg");
    background-size: cover;
    justify-content: center;
    border-radius: 5px;
    height: 190vh;
    width: 215vh;
    background-position: initial;
    color: #dcf806;
}

/* お問合せPage */
.inquiryPage {
    display: flex;
    flex-direction: column;
}

/* メディアクエリでスマホ対応CSS */
@media only screen and (max-width: 414px) {
    .container {
        padding: 2px 2px;
        font-size: 9.5px !important;
        margin: 2px auto;
    }

    .homeBody {
        font-size: 9.5px !important;
    }

    .button1 {
        font-size: 9.5px !important;
    }

    .password-background {
        width: 410px !important;
        height: 580px !important;
        font-size: 10.5px !important;
    }

    .menuContainer {
        font-size: 9.5px !important;
        width: 10px !important;
    }

    h1 {
        font-size: 15px !important;
    }

    p {
        font-size: 9.5px !important;
    }

    .calendarTitle {
        font-size: 10px !important;
    }

    .calendarCss {
        width: 0px !important;
        height: 0px !important;
    }

        .backgroundCalendar {
            width: 75%;
            height: 50%;
            position: relative;
        }
        .passwordTitle {
            font-size: 15px !important;
        }
}

