@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



/* Title.js */
h1 {
    font-weight: 70;
    font-size: 2em;
    color: rgb(20, 155, 20);
    padding: 5px;
    z-index: 11;
}

/* App.js */
.wrapper {
    /* margin-right: 10px; */
    /* margin-left: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: repeat;
}

.home-background {
    background: url("./background-image.jpg");
    background-size: cover;
    background-position: initial;
    height: 100vh;
    width: 200vh;
    text-align: center;
    display: flex;
    border-radius: 15px;
    box-shadow: 4px 4px 13px 5px rgba(136, 134, 134, 0.25);
    margin: 0px;
    transition: all 0.5s ease;
}
/* .container {

} */

.menuContainer {
    font-size: 16px;
}

/* メディアクエリでスマホ対応CSS */
@media only screen and (max-width: 414px) {
    .container {
        padding: 5px 5px;
        font-size: 8px !important;
        margin: 5px auto;
    }
        .homeBody {
            font-size: 8px !important;
        }
            .button1 {
                font-size: 8px !important;
            }
                .password-background {
                    width: 410px !important;
                    height: 580px !important;
                    font-size: 10px !important;
                }
                    .menuContainer {
                        font-size: 8px !important;
                        width: 10px !important;
                    }
                        h1 {
                            font-size: 15px !important;
                        }
                            p {
                                font-size: 8px !important;
                            }
                                .calendarTitle {
                                    font-size: 8px !important;
                                    /* display: flex !important; */
                                }
                                    .calendarCss {
                                        width: 0px !important;
                                        height: 0px !important;
                                    }
}

/* Title.js */
h1 {
    font-weight: 200;
    font-size: 1.8em;
    color: rgb(5, 154, 5);
    margin: 0px 0 10px;
}

h2 {
    margin: 10px 0 10px;
    font-size: 15px;
}

/* Form.js　inputタグにCSS適用でダークモードに影響でるため文字色削除  */
input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px #f43071;
    width: 40%;
    padding-bottom: 4px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
}
/* 検索ボタン用CSS */
.button1 {    
    border-bottom: 5px solid #812002;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    position: absolute;
    width: 18%;
    background-color: #ff0000;
    left: 70%;

}
/* 天気検索ボタンCSS */
.button1:hover {
        margin-top: 15px;
        border-bottom: 1px solid #ff840a;
        opacity: 1;
}


/* Results.js */
.results-city {
    font-size: 2rem;
    color: #bd1414;
}
/* Results.js */
.results-country {
    font-size: 2rem;
    color: #bd1414;
}
/* Results.js */
.results-temp {
    font-size: 2rem;
    margin: 2px 2px;
    color: #b70e0e;
    position: relative;
    
}
/* Results.js */
.results-temp > span {
    font-size: 1.5rem;
    color: #b70e0e;
}
/* Results.js 　アニメーション追加*/
.results-condition {
    position: absolute;
    top: 79%;
    left: 40%;
    transform: translate(-50%, -50%);
    margin: 0;
    display: block;
    font-size: 2rem;
    cursor: pointer;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    border-radius: 2px;
}
/* Results.js */
.results-condition:hover{
    box-shadow: 0 16px 20px -8px rgba(108, 74, 74, 0.4);
}
/* Loading.js */
.loading {
    border: 4px solid #f15186;
    border-top: 4px solid #2f0e91;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* DigitalDateTime.js */
.dit {
    height: 20px;
    font-size: 20px;
    font-family: 'Noto Sans JP'
}

.homeBody {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #030303;
    font-display: auto;
}

.App {
    width: 100%;
    border: 0;
    padding: 0px 0px;
    margin: 0px;
    /* border-radius: 2px; */
    /* letter-spacing: 1px; */
    font-size: 1rem;
    cursor: pointer;
    background-color: #d451f1;
    color: #e9a915fd;
    
}
/* リアルタイム表示のCSS */
.dit {
    text-align: center;
}

.todoList {
    width: 100vh;
    height: 100vh;
    text-align: center;
    /* background-color: #13a109; */
    margin: 0px;
    padding: 0px;
    font-size: 15px;

}


/* 遅延ページでローディングを表示させるCSS */
.pgLoading {
    font-size: 50px;
    color: #f40a0afd;
}
/* マテリアルアイコンのCSS */
.reload {
    cursor: pointer;
    color: #f4480afd;
}
/* マテリアルアイコンのマウスホバー */
.reload:hover {
    background-color: #701919;
}
/* パスワード生成CSS、フォントバックグラウンド#e3bfbf; */
.password-background {
        background: url("./background-image2.jpg");
        background-size: cover;
        justify-content: center;
        height: 160vh;
        width: 160vh;
        background-position: initial;
        text-align: center;
        font-size: 15px;
        font-weight: 30%;
        /* 下は状況に応じて変更する */
        /* background-color: rgba(181, 159, 183, 0.338);
        background-blend-mode: lighten; */
        
}
/* パスワード表示の枠線 */
.pwMain {
    margin: 0 auto;
    padding: 0.2em;
    position: sticky;
    height: 200px;
    width: 200px;
    border: solid 2px #706c6c;
    /*線の種類・太さ・色*/
    background-color:#e6ffff;
}
/* パスワード生成ボタン */
.passwordButton:hover {
    cursor: pointer;
}
/* カレンダーのタイトルフォントサイズ */
.calendarTitle {
    font-size: 20px;
    text-align: center;
}

.backgroundCalendar {
    width: 50%;
    height: 50%;
    position: relative;
}

.pythonDlPage {
    display: flex;
    flex-direction: column;
}

.inquiryPage {
    display: flex;
    flex-direction: column;
}