.CalendarBody {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100vh;
    height: 70vh;
}

.cld {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: #d0e6ff;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    /* background: #a8d0ff; */
}

th,
td {
    width: 14.28%;
    /* 100% / 7 days */
    height: 50px;
    text-align: center;
    border: 1px solid #ddd;
}

td {
    cursor: pointer;
}

td:hover {
    background: #e52424;
}

.event-day {
    background-color: #6479a1;
}

.event {
    font-size: 1rem;
    color: #f37318;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: white; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

.modal button {
    margin-right: 10px;
}

/* メディアクエリCSS */
@media only screen and (max-width: 414px) {
        th,
        td {
            font-size: 10.5px !important;
        }
            .textDescription {
                font-size: 9.5px !important;
                margin-right: 20px !important;
            }
                table {
                    width: 300px !important;
                    height: 80px !important;
                }
                    .CalendarBody {
                        width: 300px !important;
                    }
}