/* バーガーメニューのボタン */
.bm-burger-button {
    position: fixed;
    width: 28px;
    height: 28px;
    right: 3%;
    /* 右にしたい場合はright,左にしたい場合はleft */
    top: 2%;
    
}

/* バーガーメニューのボタンの線 */
.bm-burger-bars {
    background: #677792;
    z-index: 2;
}

/* バーガーメニューのボタンの線（ホバー時）*/
.bm-burger-bars-hover {
    background: #f60440;
}

/* 閉じるボタン(Xの周辺） */
.bm-cross-button {
    height: 500px;
    width: 500px;
    background-color: #04f6d6;
}

/* 閉じるボタンのX */
.bm-cross {
    background: #010101;
}

/*バーガーメニューのwrapper*/
.bm-menu-wrap {
    position: relative;
        top: 2px;
        left: 5px;
    background-color: #04f6ee;
}

/* バーガーメニューのwrapper */
.bm-menu {
    background: #676075;
    font-size: 15px;
    padding:  2em  1.5em 1.5;
    
}

/* bubble or elasticの際に必要 */
.bm-morph-shape {
    fill: #49b8b3c6;
}

/* アイテムリストのwrapper */
.bm-item-list {
    color: #d3d363;
    padding: 0.9em;
    width: 290px;
}

/* アイテム */
.bm-item {
    display: inline-block;
    height: 24px;
}

.bm-item-list a {
    /* メニューの個々のアイテムの設定 */
    display: inline-block;
    border-bottom: 0.5px solid #e70e0e;
    line-height: 30px;
    padding-left: 0.5px;
    text-decoration: none;
    color: #fff;
}

.bm-item-list a:hover {
    /* 個々のアイテムのホバー */
    background-color: #9a9a9a47;
    color: aliceblue;
}

/* Styling of overlay */
.bm-overlay {
    background: rgb(189, 10, 144);
}

/* メディアクエリCSS */
@media only screen and (max-width: 414px) {
    .bm-menu {
        font-size: 12px !important;
        width: 190px !important;
    }
        .bm-menu-wrap {
            width: 195px !important;
        }
}